/* ABOUT PAGE INTRO SECTION */

.about-intro {
    padding: 0 0 76px 0;
    
}

.about-intro__box {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.about-intro__topic {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.246154px;
    color: #36536B;
}

.about-intro__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.about-intro__item {

    text-align: center;

    &:not(:last-child) {
        margin-bottom: 48px;
    }

}

.about-intro__title {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.184615px;
    color: #36536B;
}

.about-intro__text {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #6C8294;
}



@media only screen and (min-width:660px) {


    .about-intro {
        padding: 75px 0 92px 0;
    }

    .about-intro__box {
        width: 100%;
        max-width: 920px;
        // margin: 0 auto;
    }

    .about-intro__content {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

    .about-intro__topic {
        margin: 0;
        margin-bottom: 54px;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        letter-spacing: -0.369231px;
        color: #36536B;
    }

    .about-intro__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .about-intro__item {
        display: flex;
        text-align: start;

        &:not(:last-child) {
            margin-bottom: 48px;
        }

    }

    .about-intro__title {
        width: 30%;
        margin: 0;
        margin-bottom: 16px;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.184615px;
        color: #36536B;
    }

    .about-intro__text {
        width: 70%;
        margin: 0;
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        color: #6C8294;
    }


}

@media only screen and (min-width:1000px) {
    .about-intro {
        padding: 82px 0 0 0;
    }

    .about-intro__box {
        width: 100%;
        max-width: 920px;
        // margin: 0 auto;
    }

    .about-intro__content {
        width: 100%;
        max-width: 600px;
        margin: 0;
        margin-right: auto;
    }

    .about-intro__topic {
        margin: 0;
        margin-bottom: 54px;
        font-weight: 400;
        font-size: 56px;
        line-height: 56px;
        text-align: start;
        letter-spacing: -0.430769px;
        color: #36536B;
    }

    .about-intro__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .about-intro__item {
        display: flex;
        text-align: start;

        &:not(:last-child) {
            margin-bottom: 48px;
        }

    }

    .about-intro__title {
        width: 30%;
        margin: 0;
        margin-bottom: 16px;
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.246154px;
        color: #36536B;
    }

    .about-intro__text {
        width: 70%;
        margin: 0;
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        color: #6C8294;
    }


}