/* HEADER PART */

body{
    
    background-image: url(../../images/header-bg.svg);
    background-repeat: no-repeat;
    background-size: 780px 780px;
    background-position: calc(50% - -290px) calc(50% + -581px);
    
}


.site-header {
    padding-top: 40px;
    padding-bottom: 70px;
    position: relative;
    // background-color: #EDF3F8;
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// .site-header__bg{
    //     background-image: url("../../images/header-bg.svg");
    //     background-repeat: no-repeat;
    // position: absolute;
    // top: 200px;
    // right: 20px;
    // }
    
    .site-header__menu-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        
    }
    
    .sitenav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: none;
    }
    
    .sitenav__close {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .sitenav__border {
        position: absolute;
        top: 100px;
        left: 15px;
        width: 208px;
        right: auto;
        left: auto;
        height: 2px;
        background: #FBFCFE;
        mix-blend-mode: normal;
        opacity: 0.15;
    }
    
    .sitenav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .sitenav__item {
        
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
    
    .sitenav__link {
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color:#87a2bb;
        mix-blend-mode: normal;
        opacity: 0.7;
        text-decoration: none;
        
        &:hover {
            opacity: 1;
            color: #36536B;
        }
        
    }
    
    .site-header__btn {
        padding: 15px 25px;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -0.115385px;
        color: #FBFCFE;
        background-color: #BA4270;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        border-radius: 24px;
        border: transparent;
        
        &:hover {
            background-color: #DA6D97;
        }
        
    }
    
    .sitenav-on .site-header__nav {
        display: block;
        flex-direction: column;
        position: absolute;
        padding: 139px 24px 0 24px;
        display: flex;
        flex-direction: column;
        //  justify-content: center;
        align-items: center;
        
        width: 75%;
        // max-width: 300px;
        margin-left: auto;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        z-index: 12;
        background-color: #1B262F;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    }
    
    .sitenav-on .sitenav {
        text-align: center;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    
    
    .sitenav-on .sitenav__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sitenav-on .sitenav__item {
        
        margin-bottom: 32px;
        
        &:not(:last-child) {
            margin-right: 0;
            
        }
    }
    
    .sitenav-on .sitenav__link {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FBFCFE;
        mix-blend-mode: normal;
        opacity: 0.7;
    }
    
    .sitenav-on .sitenav__close {
        position: absolute;
        top: 48px;
        right: 27px;
    }
    
    
    
    
    @media only screen and (min-width:660px) {
        
        
        body{
            
            background-image: url(../../images/header-bg.svg);
            background-repeat: no-repeat;
            background-size: 780px 780px;
            background-position: calc(50% - -468px) calc(50% + -406px);
        }
        
        .site-header__menu-btn {
            display: none;
        }
        
        .sitenav-on .site-header__wrapper {
            display: flex;
            justify-content: flex-start;
        }
        
        .sitenav-on .site-header__nav {
            display: flex;
            flex-direction: row;
            position: static;
            padding: 0 0 0 0;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            margin-left: 0;
            height: 0;
            background-color: transparent;
            box-shadow: none;
        }
        
        .sitenav-on .sitenav {
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        
        
        .sitenav-on .sitenav__list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
        }
        
        .sitenav-on .sitenav__item {
            
            margin-bottom: 0;
            
            &:not(:last-child) {
                margin-right: 32px;
                ;
                
            }
        }
        
        .sitenav-on .sitenav__link {
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            color: #36536B;
            mix-blend-mode: normal;
            opacity: 0.7;
            text-decoration: none;
        }
        
        .sitenav-on .sitenav__close {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
        }
        
        
        
        //  simple 
        .site-header {
            padding-top: 40px;
            padding-bottom: 0;
            position: relative;
            background-color: transparent;
        }
        
        .site-header__wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            
        }
        
        
        .site-header__logo-img {
            margin-right: 65px;
        }
        
        .sitenav {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .sitenav__close {
            display: none;
        }
        
        .sitenav__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;
        }
        
        .sitenav__item {
            
            &:not(:last-child) {
                margin-right: 40px;
            }
        }
        
        .sitenav__link {
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            color: #36536B;
            mix-blend-mode: normal;
            opacity: 0.7;
            text-decoration: none;
        }
        
        .site-header__btn {
            padding: 15px 25px;
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: -0.115385px;
            color: #FBFCFE;
            background-color: #BA4270;
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            border-radius: 24px;
            border: transparent;
            
        }
        
        
        
        
    }
    
    
    @media only screen and (min-width:1000px) {
        body{
            background-image: url(../images/header-bg.svg);
            background-repeat: no-repeat;
            background-size: 780px 780px;
            background-position: calc(50% - -468px) calc(1% + -570px);
            
            
        }
    }