
@include for-size (phone-only) {
    ol{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .price__box{
        width: 295px;
        margin: 0 auto;
        
    }
    
    .price__title{
        margin-bottom: 48px;
        @include txt-formats('DM Serif Display', 32px, 36px,  #36536B);
    }
    
    .price__heading{
        margin-top: 48px;
        @include txt-formats('DM Serif Display', 24px, 32px, #BA4270);
        letter-spacing: -0.184615px;  
    }
    
    .price__txt{
        display: none;
    }
    
    .price__strong{
        display: block;
        margin-bottom: 24px;
        @include txt-formats('DM Serif Display', 56px, 72px, #36536B);
        &::after{
            display: block;
            width: 239px;
            margin: 24px auto;
            padding-top: 24px;
            border-top: 1px solid #36536B;
            mix-blend-mode: normal;
            opacity: 0.25;
            content: " ";
        }
        
    }
    
    .price__list{
        width: 308px;
        margin: 0 auto;
        &::after{
            display: block;
            width: 239px;
            margin: 24px auto;
            padding-top: 24px;
            border-top: 1px solid #36536B;
            mix-blend-mode: normal;
            opacity: 0.25;
            content: " ";
        }
    }
    
    
    
    
    .price__item{
        width: 145px;
        margin: 0 auto;
        margin-bottom: 8px;
        &::before{
            display: inline-block;
            width: 14px;
            height: 11px;
            margin-right: 24px;
            background-image: url("../images/done.svg");
            content: " ";
        }
    }
    
    
    .price__box{
        &:nth-child(1){
            .price__item{
                &:nth-child(1n+4):before{
                    background-image: none;
                }
            }
        }
        
    }

    .price__item-link{
        @include txt-formats("Public Sans", 16px, 28px, #36536B);
        text-align: left;
    }
    
    .price__button{
        
        @include site-button(168px, #36536B, transparent);
        display: block;
        margin: 0 auto;
        border: 1px solid #36536B;
        box-shadow: none;
        
    }
    
    .article{
        padding: 80px 0;
    }
    
    .article__title{
        margin-bottom: 32px;
        @include txt-formats('DM Serif Display', 32px, 36px,  #36536B)
    }
    
    .article__label{
        display: block;
        width: 100%;
        max-width: 445px;
        margin: 0 auto;
    }
    
    .article__input{
        width: 100%;
        max-width: 445px;
        margin-bottom: 16px;
        padding: 16px 25px;
        font-weight: 700;
        @include txt-formats('Public Sans', 18px, 18px,  #36536B);
        text-align: left;
        background-color:#FBFCFE;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        border-radius: 24px;
        border: none;
        
    }
    
    .article__btn{
        
        @include site-button(327px, #fff, #BA4270);
        display: block;
        width: 100%;
        max-width: 445px;
        margin: 0 auto;
        border: none
    }
}
